[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Verknüpfung mit C Library - C++ Reference
Type=Link
URL=http://www.cplusplus.com/reference/clibrary/
Icon=gnome-fs-bookmark
