[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Verknüpfung mit printf - C++ Reference
Type=Link
URL=http://www.cplusplus.com/reference/clibrary/cstdio/printf.html
Icon=gnome-fs-bookmark
